{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <!-- faq section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="faq-block">
                        <div>
                            <h3 class="frequent-text">{{ 'app.faq.title'|trans }}</h3>
                            <h6 class="mb-3">{{ 'app.faq.subTitle'|trans }}</h6>

                                <div class="accordion mb-3" id="accordion">
                                    {% for faq in faqs %}
                                        <div class="accordion-item card">
                                            <h6 class="accordion-header card-header" id="heading-{{ faq.id }}" data-bs-toggle="collapse" data-bs-target="#collapse-{{ faq.id }}" aria-expanded="false" aria-controls="collapse-{{ faq.id }}">
                                                <i class="fas fa-angle-right"></i>
                                                {{ faq.name }}
                                            </h6>
                                            <div id="collapse-{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ faq.id }}" data-bs-parent="#accordion">
                                            <div class="accordion-body card-body">
                                                {{ faq.description }}
                                            </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            <h6 class="link">{{ 'app.faq.contact'|trans }} <a href="mailto:{{ app_contact }}">{{ app_contact }}</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="faq-img-block">
                        <img src="{{ asset('bootstrap-theme/images/faq.png', 'bootstrapTheme') }}" class="img-fluid" alt="faq-person">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end faq section -->
{% endblock %}
