<div class="ui center aligned inverted basic segment">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }} <a href="https://github.com/lucianoBrd" target="_blank" style="color: #f0665f;">LucianoBrd</a>.</p>
    <a target="_blank" href="https://www.facebook.com/people/Am%C3%A9d%C3%A9e/100067543488097/">
        <img alt="facebook" style="width:22px;" width="22" src="{{ api_path }}/assets/email/images/facebook.png">
    </a>
    <a target="_blank" href="https://www.instagram.com/amedee.music/">
        <img alt="instagram" style="width:22px;" width="22" src="{{ api_path }}/assets/email/images/instagram.png">
    </a>
    <a target="_blank" href="https://www.tiktok.com/@amedee.music">
        <img alt="tiktok" style="width:22px;" width="22" src="{{ api_path }}/assets/email/images/tiktok.png">
    </a>
</div>
